# Ignore virtual environment
lmp/

# --- Security ---
.env

# --- rule of thumbs ---
rule_of_thumb.txt


# --- Python & Environment ---
__pycache__/
*.py[cod]
venv/
.venv/
env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Data ---
# Professional standard: Code goes to GitHub, Data stays local (or S3).
# We ignore the data folder so other people don't download your messy CSVs.
data/

# --- IDE Settings ---
.vscode/
.idea/

# --- Model Files (Large Binaries) ---
*.pkl


# --- Final Project Review ---
FINAL_REVIEW.md